/* --- About me / Über mich --- */

#aboutme {
  flex-direction: column;
  place-items: center;
  position: relative;
  background-color: var(--background2);
}

#aboutme .sectiontitle {
  margin-bottom: 20px;
}

.aboutmedetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  place-items: center;
}

.aboutmedetails p {
  text-align: left;
}

.profileimg img {
  display: flex;
  flex-direction: column;
  text-align: center;
  place-items: center;
  position: relative;
  justify-content: space-around;
  width: 80vw;
  left: 10vw;
  right: 10vw;

  padding-bottom: 20px;
}

/* Social Media */
.socialmedia {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding-top: 25px;
  padding-bottom: 30px;
}

iframe {
  justify-content: center;
}

@media (min-with: 768px) {
  #aboutme {
    display: grid;
    gap: 2em 1em;
    grid-template:
      ". img . text ."
      ". . socialmedia . .";
    grid-template-columns: 1fr auto auto auto 1fr;
    grid-template-rows: fit-content(10vh);
  }

  #aboutme h3 p iframe {
    grid-area: text;
  }

  #aboutme img {
    grid-area: img;
  }

  #aboutme .socialmedia {
    grid-area: socialmedia;
  }
}
