/* --- About me / Über mich --- */

#aboutme {
  flex-direction: column;
  place-items: center;
  position: relative;
  background-color: var(--background2);
  min-height: 100vh;
}

#aboutme .sectiontitle {
  margin-bottom: 20px;
}

.profileimg img {
  display: flex;
  flex-direction: column;
  text-align: center;
  place-items: center;
  position: relative;
  justify-content: space-around;
  padding-bottom: 20px;
}

/* Social Media */
.socialmedia {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding-top: 25px;
  padding-bottom: 30px;
}

iframe {
  justify-content: center;
}
