/* --- Über mich --- */

#aboutme {
  display: flex;
  flex-direction: column;
  place-items: center;
  position: relative;
  height: 100vh;
  background-color: var(--background2);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.profileimg img {
  display: flex;
  flex-direction: column;
  place-items: center;
  position: relative;
  justify-content: center;
  z-index: 1;
}

.aboutmedetails {
  display: flex;
  min-width: 90vw;
  margin-left: 2em;
  margin-right: 2em;
  flex-direction: column;
  place-items: center;
}

.socialmedia {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.icons {
  padding: 0;
}

ul {
  list-style: none;
}

.icons li {
  display: flex;
  place-items: center;
  gap: 15px;
  justify-content: center;
  margin-bottom: 10px;
}

.icons li a {
  display: flex;
  place-items: center;
  gap: 15px;
  justify-content: flex-start;
  margin-bottom: 10px;
  color: var(--primary);
}

.icons li img {
  width: 32px;
}

.flex-spacer {
  flex: 1 1 auto;
}
