/* Kontaktformular */

#contact {
  display: flex;
  position: relative;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  height: auto;
  min-height: 99vh;
}

#contact input {
  border: 1px solid var(--primary);
  background-color: transparent;
  max-width: 80vw;
  min-width: 60vw;
  padding: 0.5em;
}

.contactform .p {
  display: flex;
  place-items: center;
  justify-content: space-around;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.contactform {
  padding-top: 30px;
  height: 70vh;
}

#contact button {
  margin-top: 12px;
  display: flex;
  position: relative;
  color: white;
  background-color: var(--accent);
}

/* Footer */
.footer {
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: 100vw;
  background-position: center;
  display: flex;
  place-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 40px;
  color: white;
  font-weight: bold;
  background-image: url("assets/oscar-estrela-schott-aaMfK5Dpwjw-unsplash.jpg");
}

.row {
  justify-content: center;
  justify-items: center;
  display: flex;
  align-content: center;
  text-align: center;
}

svg {
  width: 40px;
  margin: 0%;
  padding: 0%;
  color: white;
}
