/* Ausbildung */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

#edu {
  background-color: var(--background2);
  position: relative;
}

.edu {
  position: relative;
  top: 2em;
}

.container {
  background: none;
  padding: 15px 10%;
  padding-bottom: 20px;
  padding-top: 10px;
  max-width: 95%;
}

.container .heading {
  text-align: center;
  padding-bottom: 15px;
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 14pt;
}

.container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
}

.container .box-container .box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 30px 20px;
}

.container .box-container .box img {
  height: 80px;
}

.container .box-container .box p {
  color: var(--primary);
  font-size: 16px;
}

.container .box-container .box h3 {
  color: var(--primary);
  font-size: 14px;
  padding-top: 10px;
}

.container .box-container .box .btn {
  margin-top: 10px;
  display: inline-block;
  background: var(--accent);
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  padding: 8px 25px;
  text-transform: capitalize;
  text-decoration: none;
}

.container .box-container .box .btn:hover {
  font-weight: bolder;
}

.container .box-container .box:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
