/* --- Basic ---*/
:root {
  --primary: #404040;
  --second: #cecece;
  --accent: #003056;
}

.container {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.item {
  order: 5; /* default is 0 */
  flex-grow: 4; /* default is 0 */
  flex-shrink: 3; /* default 1 */
  flex-basis: auto; /* default auto */
  flex: none;
  align-self: auto;
}

body {
  background-color: #cecece;
  overflow: auto;
}

/* --- Hearder --- */
.toppage {
  background-image: url(../../assets/background_spiez.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
  max-height: 400px;
  /*border-style: dotted;*/
}

.toppage h1 {
  font-size: 64pt;
  text-align: center;
  align-self: center;
  margin-top: 150px;
  text-transform: uppercase;
  background-color: rgb(207, 207, 207, 0.3);
}

.toppageanimation {
  background-image: linear-gradient(
    -225deg,
    #404040 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
