:root {
  --primary: #404040;
  --second: #cecece;
  --accent: #1b365c;
  --background1: #bccde8;
  --background2: rgb(230, 226, 226, 0.52);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

section {
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
}

p {
  font-size: 14pt;
}

h1 {
  font-size: 24pt;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 14pt;
}

/* --- Navigation --- */

#main-nav {
  display: none;
  position: absolute;
  top: 2.5vh;
  z-index: 1;
  /*display: flex;*/
  gap: 1em;
  margin-left: 3em;
  margin-right: 2em;
  width: 80vw;
  background-color: var(--background2);
  justify-content: flex-end;
  place-items: center;
  max-width: 100%;
}

#main-nav a {
  background-color: none;
  color: var(--accent);
  text-decoration: none;
  padding: 1.5em 1em;
  font-size: large;
}

#main-nav a:hover {
  color: var(--accent);
  font-weight: bolder;
  font-size: larger;
}

#mobile-nav {
  position: fixed;
  z-index: 5;
  top: 93vh;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  background-color: red;
  height: 64px;
  width: 64px;
}

#mobile-nav a {
  position: absolute;
  top: -10em;
  width: 0;
  overflow: hidden;
}

/*
#reference {
  position: absolute;
  top: 90vh;
}

.sticky {
  position: fixed;
  top: 0;
}
*/

/* --- Toppage --- */

#toppage {
  background-image: url("assets/spiez.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  place-items: center;
  justify-content: space-around;
  position: relative;
}

.toppageanimation {
  background-image: linear-gradient(
    -225deg,
    #354969 0%,
    #78a5ec 29%,
    #bccde8 67%,
    #93a0b5 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 7s linear infinite;
  font-size: 7vw;
  text-align: center;
  margin-top: 250px;
  text-transform: uppercase;
  z-index: 1;
}

/*
.toppage:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  bottom: 20px;
  background-color: red;
  z-index: -3;
}*/

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.credits {
  position: absolute;
  bottom: 1em;
  right: 2em;
}

.credits a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.credits a:hover {
  color: white;
  font-weight: bolder;
  font-size: larger;
  text-decoration: none;
}
